<div>
    <!-- old background color: #00b3ee-->
    <div class="col-md-2" style="background-color: #589BBE; height: 5000px">
        <div id="projectsidebar">
            <span>
                  <h4>My Projects</h4>
            </span>
            <span>
                <div id="project-add-btn">
                    <button class="add-project-btn" ui-sref="project.new">
                    <!--<span class="glyphicon glyphicon-plus"></span>-->
                    Add Project
                    </button>
                </div>
                <hr>
            </span>
            <div class="project-listing" ng-repeat="project in vm.myProjects track by project.id">
                <a id="projects" ui-sref="project-detail({id:project.id})">{{project.name}}</a>
            </div>
        </div>


    </div>
    <!-- old background color: #abb0a4-->
    <div class="col-md-7" style="background-color: white; height: 5000px">
        <row>
            <div>
                <h2>{{vm.project.name}}</h2>
                <hr>
                <jhi-alert-error></jhi-alert-error>
                <dl class="row jh-entity-details">
                    <dt><span>{{vm.project.description}}</span></dt>
                    <dt><span>Project files:</span></dt>
                    <dd>
                        <div ng-if="vm.project.pfiles">
                            <a ng-click="vm.openFile(vm.project.pfilesContentType, vm.project.pfiles)">open</a>
                            {{vm.project.pfilesContentType}}, {{vm.byteSize(vm.project.pfiles)}}
                        </div>
                    </dd>
                    <dt><span>Project Owner: {{vm.project.powner.login}}</span></dt>
                    <dt><span>Project Members: </span> <span ng-repeat="pmember in vm.project.pmembers">
                            {{pmember.login}}{{$last ? '' : ', '}}
                            <br>
                        </span></dt>
                </dl>
                <button type="button" ui-sref="project-detail.edit({id:vm.project.id})" class="edit-project-btn">
                    <span class="glyphicon glyphicon-pencil"></span>
                    <span class="hidden-sm-down"> Edit</span>
                </button>

                <button type="button" ui-sref="project-detail.addmember({id:vm.project.id})" class="add-member-btn">
                    <span class="glyphicon glyphicon-pencil"></span>
                    <span class="hidden-sm-down"> Add Member</span>
                </button>
            </div>
        </row>

        <hr>


        <!-- requirement -->
        <div>
            <button class="show-requirements" data-toggle="collapse" data-target="#show-requirement-content" type="button">Requirements</button>
            <!--<h2>Requirements</h2>-->
            <div id="show-requirement-content" class="collapse">
                <div class="row">
                    <div class="col-xs-4">
                        <button class="add-requirement-btn" ng-click=" vm.addreq()">
                            Create New Requirement
                        </button>
                    </div>
                </div>
                <div style="overflow: hidden;">
                    <div class="d-inline-block col-xs-4 float-left well" ng-repeat="requirement in vm.requirements track by requirement.id" style="margin-bottom: -99999px;padding-bottom: 99999px;">
                        <h3>
                        {{requirement.name}} </h3><br>
                        Status: {{requirement.status}}<br>
                        <div class="btn-group ">
                            <button type="submit"
                                    ui-sref="requirement-detail({id:requirement.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ng-click="vm.deletereq(requirement.id)"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- userstory -->
        <div>
            <button class="show-userstories" data-toggle="collapse" data-target="#show-userstory-content" type="button">Userstories</button>
            <!--<h2>Userstories</h2>-->
            <div id="show-userstory-content" class="collapse">
                <div class="row">
                    <div class="col-xs-4">
                        <button class="add-userstory-btn" ng-click=" vm.addus()">
                            Create New Userstory
                        </button>
                    </div>
                </div>
                <div style="overflow: hidden;">
                    <div class="d-inline-block col-xs-4 float-left well" ng-repeat="userstory in vm.userstories track by userstory.id" style="margin-bottom: -99999px;padding-bottom: 99999px;">
                        <h3>
                        {{userstory.title}} </h3>
                        <h6>{{userstory.description}}</h6>
                        <h6>{{userstory.comments}}</h6>
                        Status: {{userstory.status}}<br>
                        Priority: {{userstory.priority}}<br>
                        <div class="btn-group ">
                            <button type="submit"
                                    ui-sref="userstory-detail({id:userstory.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ng-click="vm.deleteus(userstory.id)"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- issues -->
        <div>
            <div>
                <button class="show-issues" data-toggle="collapse" data-target="#show-issues-content" type="button">Issues</button>
                <!--<h2>Issues</h2>-->
                <div id="show-issues-content" class="collapse">
                    <div>
                        <div class="row">
                            <div class="col-xs-4">
                                <button class="add-issue-btn" ng-click="vm.addissue()" >
                                    Create New Issue
                                </button>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div style="overflow: hidden;">
                        <div class="d-inline-block col-xs-4 float-left well" ng-repeat="issue in vm.issues track by issue.id" style="margin-bottom: -99999px;padding-bottom: 99999px;">
                            <h3>
                            {{issue.name}}</h3>
                            <h6>{{issue.comments}} </h6>
                            Status: {{issue.status}}<br>
                            Priority: {{issue.priority}}<br>
                            <div class="btn-group ">
                                <button type="submit"
                                        ui-sref="issue-detail({id:issue.id})"
                                        class="btn btn-info btn-sm">
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                    <span class="hidden-sm-down"></span>
                                </button>
                                <button type="submit"
                                        ng-click="vm.deleteiss(issue.id)"
                                        class="btn btn-danger btn-sm">
                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                    <span class="hidden-sm-down"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="col-md-3" style="background-color: #589BBE; height: 5000px">
        <div>
            <table class="table table-fixed well">
                <thead>
                <tr>
                    <th class="col-xs-12" ng-if="vm.isAuthenticated == false">
                        <div class="alert alert-warning" style="text-align: center">
                            Please <a class="alert-link" href="" ng-click="vm.login()">sign in</a> or <a class="alert-link" href="" ng-click="vm.register()">register</a> to comment
                        </div>
                    </th>
                    <th class="col-xs-12">
                        <form name="editForm" role="form" novalidate ng-submit="vm.save()" has-authority="ROLE_USER" ng-show="vm.isMember">
                            <div class="modal-header">


                                <h4 class="modal-title" id="myCommentLabel">Leave a comment</h4>
                            </div>
                            <div class="comment-field-submit">
                                <div class="input-group" style="display: inline-block">
                                    <i class="fa fa-comments-o fa-2x hidden-md" aria-hidden="true"></i>&nbsp
                                    <label class="control-label" for="field_comment"></label>
                                    <input type="text"  name="comment" id="field_comment"
                                           ng-model="vm.comment.commenttext"
                                    />
                                </div>
                                <div style="display: inline-block;">
                                    <button type="submit" class="btn btn-sm ay-button">
                                        <span class="glyphicon glyphicon-save hidden-md"></span><span>Submit</span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                </tr>
                <tr ng-repeat="comment in vm.comments track by comment.id" ng-class-odd="'odd'" ng-class-even="'even'">
                    <div class="comment-box">
                    <td class="col-xs-12 well">
                        <br>
                        <small><b>{{comment.usercomment.login}}</b> on {{comment.date | date:shortDate}} </small>
                        <br>
                        <div id="comments">
                            {{comment.commenttext | limitTo: 500}}
                        </div>
                    </td>
                    <br>
                    </div>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>


