dt > span, dd > span {
    margin: 20px;
}

div.col-md-2 div.project-listing {
    color: white;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

div#projectsidebar span > h4 {
    color: white;
    text-align: center;
    padding: 10px;
}

div#projectsidebar hr {
    color: white;
    line-height: 2px;
}

button.add-project-btn {
    background-color: transparent;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    color: white;
}

button.add-requirement-btn, button.add-userstory-btn, button.add-issue-btn, button.add-member-btn {
    background-color: transparent;
    border-style: solid;
    border-color: #c6c3c3;
    border-radius: 10px;
    color: grey;
    margin: 10px;
    padding: 10px;
}

button.edit-project-btn {
    background-color: transparent;
    border-style: solid;
    border-color: mediumseagreen;
    border-radius: 10px;
    color: mediumseagreen;
    margin: 10px;
    padding: 10px;
}

div#projectsidebar div#project-add-btn {
    display: flex;
    justify-content: center;
}

div.project-listing a::selection {
    background-color: white;
    color: #589BBE;
}

div.project-listing a#projects {
    color: white;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    flex-direction: column;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    margin: 5px;
    border-radius: 10px;
    font-size: 15px;
    width: 100%;
}

div.comment-field-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap row;
}

h4#myCommentLabel {
    color: grey;
}

div#comments {
    padding-left: 20px;
    padding-right: 20px;
}
.odd {
    color:#0d47a1;
}
