@import "requirement-detail.css";

.description-container, .priority-container, .requirement-container, .comments-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-color: white;
    border-style: solid;
    border-radius: 8px;
    border-width: 1px;
    margin: 2px;
    width: 50%;
}

.description-label, .description-data, .priority-label, .priority-data, .requirement-label, .requirement-data, .comments-label, .comments-data {
    padding: 10px;
}
